@import url(./_fade/popup_fade_out.css);
@import url(./_fade/popup_fade_in.css);
@import url(./__container/popup__container.css);
@import url(./_style/popup_style_form.css);
@import url(./_style/popup_style_view.css);
@import url(./__form/popup__form.css);
@import url(./__view/popup__view.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__foto/popup__foto.css);
@import url(./__foto-title/popup__foto-title.css);
@import url(./__input/_type/popup__input_type_username.css);
@import url(./__input/_type/popup__input_type_about.css);
@import url(./__submit/popup__submit.css);
@import url(./__close/popup__close.css);

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;
}
