.profile__userpic {
  grid-area: userpic;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #888;
}

@media screen and (max-width: 680px) {
  .profile__userpic {
     justify-self: center;
  }
}