@import url(./__head/element__head.css);
@import url(./__image/element__image.css);
@import url(./__figcaption/element__figcaption.css);
@import url(./__like/element__like.css);
@import url(./__title/element__title.css);

.element {
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  border: none;
}

